body{
  margin: 0 auto;
}
.wrapper{
  width: 100%;
  background-size: cover;
}
.header{
  display: block;
  border-top:3px solid #330099;
}
.menu-wrapper{
  display: flex;
  justify-content: flex-end;
}
.menu{
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
  margin-bottom: 9px;
}
.menu__item{
  position: relative;
  margin-right: 43px;
  font: 20px/25px gilroy_extrabold, arial, helvetica, sans-seris;
  color: #585858;
  text-decoration: none;
  transition: .5s;
}
.menu__item:last-child{
  margin-right: 130px;
  font: 20px/24px montserratextrabold, arial, helvetica, sans-seris;
  color: #fff;
  background: #330099;
  padding: 12px 30px 11px 30px;
  text-decoration: none;
  border-radius: 50px;
  width: 120px;
  height: 30px;
  bottom: 16px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.menu__bottom{
  font: 20px/24px montserratextrabold, arial, helvetica, sans-seris;
  color: #fff;
  background: #330099;
  padding: 12px 30px 11px 30px;
  text-decoration: none;
  border-radius: 50px;
  width: 120px;
  height: 30px;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  margin-top: -25px;
  margin-bottom: 25px;
  margin-left: 65%;
  display: none;
}

.menu__item:hover{
  cursor: pointer;
  opacity: 0.7;
  color: #330099;
}
.menu__item:hover:last-child{
  cursor: pointer;
  opacity: 1;
  background: #4AB272;
  color: #fff;
}
.menu__bottom:hover{
  cursor: pointer;
  opacity: 1;
  background: #4AB272;
  color: #fff;
}
.title-cap{
  background: center no-repeat url(img/background_title-cap.svg);
  background-size: cover;
  width: 100%;
  height: 481px;
  border-top: 3px solid #330099;
}
.title-cap__title{
  font: 900 40px/51px montserratblack, arial, helvetica, sans-seris;
  color: #330099;
  text-align: right;
  word-spacing: 2px;
  margin: 151px 127px 7px 35%;
}
.title-cap__description{
  margin: 0 140px 10px 61%;
  font:  700 30px/37px montserratbold, arial, helvetica, sans-seris;
  color: #fff;
  text-align: right;
}
.advantage{
  background: #F9F9F9;
  height: 747px;
}
.advantage__title{
  font:  900 30px/37px montserratextrabold, arial, helvetica, sans-seris;
  color: #585858;
  text-align: center;
  margin: 0 250px 50px 250px;
  padding-top: 90px;
  word-spacing: 2px;
}
.advantage-all{
  display: flex;
  justify-content: space-between;
  margin: 0 100px 95px 130px;
}
.advantage-first{
  width: 30%;
  height: 319px;
  text-align: center;
  position: relative;
}
.advantage-first__image{
  width: 85px;
  height: 70px;
  background: no-repeat url(img/img_advantage1.svg);
  margin-top: 7px;  
  margin-bottom: 40px;
  margin-left: 32%;
}
.advantage-first__title{
  font: 900 30px/37px montserratblack, arial, helvetica, sans-seris;
  color: #585858;
  padding-right: 42px;
  margin: 0;
  margin-bottom: 11px;
}
.advantage-first__description{
  font: 500 20px/24px montserratmedium, arial, helvetica, sans-seris;
  color: #585858;
  margin: 0;
  padding-right: 50px;
}
.advantage-second{
  width: 30%;
  height: 288px;
  text-align: center;
  position: relative;
  left: 12px;
}
.advantage-second__image{
  width: 85px;
  height: 85px;
  background: no-repeat url(img/img_advantage2.svg);
  margin-bottom: 30px;
  margin-left: 33%;
}
.advantage-second__title{
  font: 900 30px/37px montserratblack, arial, helvetica, sans-seris;
  color: #585858;
  margin: 0;
  margin-bottom: 27px;
  padding-right: 73px;
  padding-left: 37px;
}
.advantage-second__description{
  font: 500 20px/24px montserratmedium, arial, helvetica, sans-seris;
  color: #585858;
  margin: 0;
  padding-right: 30px;
}
.advantage-third{
  width: 32%;
  height: 319px;
  text-align: center;
  position: relative;
  left: 11px;
}
.advantage-third__image{
  width: 85px;
  height: 85px;
  background: no-repeat url(img/img_advantage3.svg);
  margin-bottom: 30px;
  margin-left: 34%;
}
.advantage-third__title{
  font: 900 30px/37px montserratblack, arial, helvetica, sans-seris;
  color: #585858;
  margin: 0;
  padding-right: 40px;
  margin-bottom: 10px;
}
.advantage-third__description{
  font: 500 20px/24px montserratmedium, arial, helvetica, sans-seris;
  color: #585858;
  margin: 0;
  padding-right: 43px;
}
.advantage__button{
  font: 800 20px/24px montserratextrabold, arial, helvetica, sans-seris;
  color: #FFDA45;
  background: #330099;
  padding: 20px 18px 20px 18px;
  text-decoration: none;
  border-radius: 50px;
  width: 347px;
  height: 66px;
  transition: 0.5s;
  display:flex;
  align-items: center;
  justify-content: center;
  margin:auto;
}
.advantage__button:hover{
  cursor: pointer;
  opacity: 1;
  background: #4AB272;
  color: #fff;
}
.skills{
  background: #fff;
  height: 952px;
}
.skills__title {
  font: 900 30px/37px montserratbold, arial, helvetica, sans-seris;
  color: #585858;
  text-align: center;
  margin: 0 404px 52px 402px;
  padding-top: 89px;
  word-spacing: 2px;
}
.skills-wrapper {
  display: flex;
  flex-direction: column;
}
.skills-first {
  width: 55%;
  height: 175px;
  text-align: left;
  margin-left: 9%;
  margin-bottom: 80px;
  background: no-repeat url(img/img_skills1.svg);
  padding-left: 200px;
}
.skills-first__title{
  font: 600 30px/37px montserratsemibold, arial, helvetica, sans-seris;
  color: #585858;
  padding-right: 190px;
  margin: 0;
  margin-bottom: 10px;
}
.skills-first__description{
  font: 500 20px/24px montserratmedium, arial, helvetica, sans-seris;
  color: #585858;
  margin: 0;
  padding-right: 350px;
}
.skills-second {
  width: 53%;
  height: 175px;
  text-align: right;
  margin-left: 38%;
  margin-bottom: 80px;
  background: no-repeat url(img/img_skills2.svg);
  background-position: right;
}
.skills-second__title{
  font: 600 30px/37px montserratsemibold, arial, helvetica, sans-seris;
  color: #585858;
  padding-right: 204px;
  padding-top: 23px;
  margin: 0;
  margin-bottom: 8px;
}
.skills-second__description{
  font: 500 20px/24px montserratmedium, arial, helvetica, sans-seris;
  color: #585858;
   padding-right: 199px;
   padding-left: 100px;
   margin: 0;
}
.skills-third {
  width: 55%;
  height: 175px;
  text-align: left;
  margin-left: 9%;
  background: no-repeat url(img/img_skills3.svg);
  padding-left: 200px;
}
.skills-third__title{
  font: 600 30px/37px montserratsemibold, arial, helvetica, sans-seris;
  color: #585858;
  padding-top: 10px;
  padding-right: 200px;
  margin: 0;
  margin-bottom: 8px;
}
.skills-third__description{
  font: 500 20px/24px montserratmedium, arial, helvetica, sans-seris;
  color: #585858;
  margin: 0;
  padding-right: 310px;
}
.form-contact{
  background: rgba(51, 0, 153, 0.12);
  height: 858px;
  background-size: cover;
}
.form-contact__title {
  font: 900 30px/37px montserratextrabold, arial, helvetica, sans-seris;
  color: #585858;
  text-align: center;
  margin: 0 404px 35px 390px;
  padding-top: 60px;
  word-spacing: 2px;
}
.form-contact__image {
  width: 175px;
  height: 175px;
  background: no-repeat url(img/img_form.svg);
  margin: 0 auto 50px;
  padding-right: 17px;
}
.form-contact__description{
  font: 600 20px/24px montserratsemibold, arial, helvetica, sans-seris;
  color: #585858;
  text-align: center;
  margin: 0 520px 36px 520px;
}
.form-add__namesurname{
  display:block;
  font: 600 15px/18px montserratsemibold, arial, helvetica, sans-seris;
  color: #858585;
  background: #FBFBFB;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid #E9E9E9;
  width: 296px;
  height: 65px;
  transition: 1s;
  display:flex;
  align-items: center;
  justify-content: center;
  margin:auto;
  margin-bottom: 21px;
}
.form-add__namesurname::placeholder{
 padding-left: 40px;
}
.form-add__tel{
  display:block;
  font: 600 15px/18px montserratsemibold, arial, helvetica, sans-seris;
  color: #858585;
  background: #FBFBFB;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid #E9E9E9;
  width: 296px;
  height: 65px;
  transition: 1s;
  display:flex;
  align-items: center;
  justify-content: center;
  margin:auto;
  margin-bottom: 21px;
}
.form-add__tel::placeholder{
 padding-left: 40px;
}
.form-add__mail{
  display:block;
  font: 600 15px/18px montserratsemibold, arial, helvetica, sans-seris;
  color: #858585;
  background: #FBFBFB;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid #E9E9E9;
  width: 296px;
  height: 65px;
  transition: 1s;
  display:flex;
  align-items: center;
  justify-content: center;
  margin:auto;
  margin-bottom: 36px;
}
.form-add__mail::placeholder{
 padding-left: 40px;
}
.form-add__send-form{
  font: 900 20px/24px montserratextrabold, arial, helvetica, sans-seris;
  color: #fff;
  background: #4AB272;
  padding: 23px 89px 23px 91px;
  text-decoration: none;
  border-radius: 50px;
  width: 300px;
  height: 70px;
  transition: 0.5s;
  display:flex;
  align-items: center;
  justify-content: center;
  margin:auto;
}
.form-add__send-form:hover{
  cursor: pointer;
  opacity: 1;
  color: #fff;
  width: 305px;
  height: 75px;
  box-shadow: 
    0px 0px 0px 2px #fff,
    0px 0px 0px 7px #fff,
    0px 0px 5px 9px #fff;
}
.footer{
  background: #330099;
  height: 322px;
}
.footer__title{
  font: 400 20px/23px robotoregular, arial, helvetica, sans-seris;
  color: #fff;
  text-align: center;
  margin: 0 400px 21px 400px;
  padding-top: 59px;
}
.social {
  display: flex;
  justify-content: space-between;
  margin: 0 400px 77px 400px;
}
.social__image-linkedin{
  width: 60px;
  height: 60px;
  background: no-repeat url(img/icon_linkedin.svg);
  position: relative;
  margin-left: 130px;
  transition: .5s;
}
.social__image-linkedin:hover{
  cursor: pointer;
  opacity: 0.5;
}
.social__image-instagram{
  width: 60px;
  height: 60px;
  background: no-repeat url(img/icon_instagram.svg);
  transition: .5s;
}
.social__image-instagram:hover{
  cursor: pointer;
  opacity: 0.5;
}
.social__image-facebook{
  width: 60px;
  height: 60px;
  background: no-repeat url(img/icon_facebook.svg);
  position:relative;
  padding-right:130px;
  transition: .5s;
}
.social__image-facebook:hover{
  cursor: pointer;
  opacity: 0.5;
}
.footer__sign{
  font: 400 20px/23px robotoregular, arial, helvetica, sans-seris;
  color: #fff;
  text-align: center;
  margin: 0 390px 0 390px;
}
#menu__toggle {
  opacity: 0;
}






@media(max-width: 1024px){
  .menu__bottom{
    display:flex;
    width: 110px;
    height: 27px;
  }
  .menu__item{
    display:block;
  }
/* скрываем чекбокс */
  #menu__toggle {
    opacity: 0;
  }
/* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    top: 39px;
    right: 80px;
    width: 25px;
    height: 3px;
    cursor: pointer;
    z-index: 1;
    margin-left: 91%;
    margin-top: 20px;
  }
/* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 23px;
    height: 3px;
    background-color: #330099;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
/* контейнер меню */
  .menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
  }
/* элементы меню */
  .menu__item {
    display: block;
    margin-top: 42px;
    padding: 0 0 1px 5px;
    color: #585858;
    font-family: gilroy_extrabold, sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .menu__item:last-child {
    display:none;
  }
  .menu__item:hover {
    opacity:1;
    color:#5193F4;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu {
    visibility: visible;
    left: 0;
    padding: 156px 16px 23px 10px;
  }
  .title-cap {
    height: 381px;
  }
  .title-cap__title {
    font: 900 35px/51px montserratblack, arial, helvetica, sans-seris;
    margin: 90px 69px 7px 35%;
  }
  .title-cap__description {
    margin: 0 70px 10px 61%;
    font: 700 25px/37px montserratbold, arial, helvetica, sans-seris;
  }
  .advantage__title {
    font: 900 27px/37px montserratextrabold, arial, helvetica, sans-seris;
    margin: 0 150px 50px 150px;
  }
  .advantage-all {
    margin: 0 30px 95px 30px;
  }
  .advantage-first {
    width: 33%;
  }
  .advantage-first__image {
    width: 75px;
    height: 60px;
    margin-bottom: 30px;
    padding: 5px 20px 10px 20px;
  }
  .advantage-first__title {
    font: 900 25px/37px montserratblack, arial, helvetica, sans-seris;
    padding-right: 0;
  }
  .advantage-first__description {
    font: 500 19px/24px montserratmedium, arial, helvetica, sans-seris;
    padding-right: 0;
  }
  .advantage-second__image {
    width: 75px;
    height: 75px;
    margin-left: 33%;
    padding: 0 20px 8px 20px;
  }
  .advantage-second__title {
    font: 900 25px/37px montserratblack, arial, helvetica, sans-seris;
    padding: 0;
  }
  .advantage-second__description {
    font: 500 19px/24px montserratmedium, arial, helvetica, sans-seris;
    padding:0;
  }
  .advantage-third {
    width: 36%;
  }
  .advantage-third__image {
    width: 75px;
    height: 75px;
    margin-bottom: 10%;
    padding: 0 10px 10px 10px;
  }
  .advantage-third__title {
    font: 900 25px/37px montserratblack, arial, helvetica, sans-seris;
    padding-right: 10px;
  }
  .advantage-third__description {
    font: 500 19px/24px montserratmedium, arial, helvetica, sans-seris;
    padding-right: 0; 
  }
  .advantage__button {
    font: 800 18px/24px montserratextrabold, arial, helvetica, sans-seris;
    width: 310px;
    height: 63px;
  }
  .skills__title {
    font: 900 27px/37px montserratbold, arial, helvetica, sans-seris;
    margin: 0 200px 52px 200px;
  }
  .skills-first {
    width: 74%;
  }
  .skills-first__title {
    font: 600 27px/37px montserratsemibold, arial, helvetica, sans-seris;
    padding-right: 140px;
  }
  .skills-first__description {
    font: 500 19px/24px montserratmedium, arial, helvetica, sans-seris;
    padding-right: 250px;
  }
  .skills-second {
    width: 75%;
    margin-left: 15%;
  }
  .skills-second__title {
    font: 600 27px/37px montserratsemibold, arial, helvetica, sans-seris;
    padding-right: 205px;
  }
  .skills-second__description {
    font: 500 19px/24px montserratmedium, arial, helvetica, sans-seris;
    padding-right: 205px;
    padding-left: 10px;
  }
  .skills-third {
    width: 70%;
  }
  .skills-third__title {
    font: 600 27px/37px montserratsemibold, arial, helvetica, sans-seris;
    padding-right: 140px;
  }
  .skills-third__description {
    font: 500 19px/24px montserratmedium, arial, helvetica, sans-seris;
    padding-right: 250px;
  }
  .form-contact__title {
    font: 900 27px/37px montserratextrabold, arial, helvetica, sans-seris;
    margin: 0 200px 35px 200px;
  }
  .form-contact__image {
    padding-right: 0;
  }
  .form-contact__description {
    font: 600 19px/24px montserratsemibold, arial, helvetica, sans-seris;
    margin: 0 120px 36px 120px;
  }
  .form-add__send-form {
    font: 900 19px/24px montserratextrabold, arial, helvetica, sans-seris;
    width: 290px;
    height: 60px;
  }
  .footer__title {
    font: 400 19px/23px robotoregular, arial, helvetica, sans-seris;
    margin: 0 200px 21px 200px;
  }
  .social {
    margin: 0 90px 77px 90px;
  }
  .footer__sign {
    font: 400 19px/23px robotoregular, arial, helvetica, sans-seris;
    margin: 0 270px 0 270px;
  }
}



















