body{
  margin: 0 auto;
}
.wrapper{
  width: 100%;
  background-size: cover;
}
.header{
  display: block;
  border-top:3px solid #330099;
}
.menu-wrapper{
  display: flex;
  justify-content: flex-end;
}
.menu{
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
  margin-bottom: 9px;
}
.menu__item{
  position: relative;
  margin-right: 43px;
  font: 20px/25px gilroy_extrabold, arial, helvetica, sans-seris;
  color: #585858;
  text-decoration: none;
  transition: .5s;
}
.menu__item:last-child{
  margin-right: 130px;
  font: 20px/24px montserratextrabold, arial, helvetica, sans-seris;
  color: #fff;
  background: #330099;
  padding: 12px 30px 11px 30px;
  text-decoration: none;
  border-radius: 50px;
  width: 120px;
  height: 30px;
  bottom: 16px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.menu__item:hover{
  cursor: pointer;
  opacity: 0.7;
  color: #330099;
}
.menu__item:hover:last-child{
  cursor: pointer;
  opacity: 1;
  background: #4AB272;
  color: #fff;
}
.title-cap{
  background: center no-repeat url(img/background_title-cap.svg);
  background-size: cover;
  width: 100%;
  height: 481px;
  border-top: 3px solid #330099;
}
.title-cap__title{
  font: 900 40px/51px montserratblack, arial, helvetica, sans-seris;
  color: #330099;
  text-align: right;
  word-spacing: 2px;
  margin: 151px 127px 7px 35%;
}
.title-cap__description{
  margin: 0 140px 10px 61%;
  font:  700 30px/37px montserratbold, arial, helvetica, sans-seris;
  color: #fff;
  text-align: right;
}
.advantage{
  background: #F9F9F9;
  height: 747px;
}
.advantage__title{
  font:  900 30px/37px montserratextrabold, arial, helvetica, sans-seris;
  color: #585858;
  text-align: center;
  margin: 0 250px 50px 250px;
  padding-top: 90px;
  word-spacing: 2px;
}
.advantage-all{
  display: flex;
  justify-content: space-between;
  margin: 0 100px 95px 130px;
}
.advantage-first{
  width: 30%;
  height: 319px;
  text-align: center;
  position: relative;
}
.advantage-first__image{
  width: 85px;
  height: 70px;
  background: no-repeat url(img/img_advantage1.svg);
  margin-top: 7px;  
  margin-bottom: 40px;
  margin-left: 32%;
}
.advantage-first__title{
  font: 900 30px/37px montserratblack, arial, helvetica, sans-seris;
  color: #585858;
  padding-right: 42px;
  margin: 0;
  margin-bottom: 11px;
}
.advantage-first__description{
  font: 500 20px/24px montserratmedium, arial, helvetica, sans-seris;
  color: #585858;
  margin: 0;
  padding-right: 50px;
}
.advantage-second{
  width: 30%;
  height: 288px;
  text-align: center;
  position: relative;
  left: 12px;
}
.advantage-second__image{
  width: 85px;
  height: 85px;
  background: no-repeat url(img/img_advantage2.svg);
  margin-bottom: 30px;
  margin-left: 33%;
}
.advantage-second__title{
  font: 900 30px/37px montserratblack, arial, helvetica, sans-seris;
  color: #585858;
  margin: 0;
  margin-bottom: 27px;
  padding-right: 73px;
  padding-left: 37px;
}
.advantage-second__description{
  font: 500 20px/24px montserratmedium, arial, helvetica, sans-seris;
  color: #585858;
  margin: 0;
  padding-right: 30px;
}
.advantage-third{
  width: 32%;
  height: 319px;
  text-align: center;
  position: relative;
  left: 11px;
}
.advantage-third__image{
  width: 85px;
  height: 85px;
  background: no-repeat url(img/img_advantage3.svg);
  margin-bottom: 30px;
  margin-left: 34%;
}
.advantage-third__title{
  font: 900 30px/37px montserratblack, arial, helvetica, sans-seris;
  color: #585858;
  margin: 0;
  padding-right: 40px;
  margin-bottom: 10px;
}
.advantage-third__description{
  font: 500 20px/24px montserratmedium, arial, helvetica, sans-seris;
  color: #585858;
  margin: 0;
  padding-right: 43px;
}
.advantage__button{
  font: 800 20px/24px montserratextrabold, arial, helvetica, sans-seris;
  color: #FFDA45;
  background: #330099;
  padding: 20px 18px 20px 18px;
  text-decoration: none;
  border-radius: 50px;
  width: 347px;
  height: 66px;
  transition: 0.5s;
  display:flex;
  align-items: center;
  justify-content: center;
  margin:auto;
}
.advantage__button:hover{
  cursor: pointer;
  opacity: 1;
  background: #4AB272;
  color: #fff;
}
.skills{
  background: #fff;
  height: 952px;
}
.skills__title {
  font: 900 30px/37px montserratbold, arial, helvetica, sans-seris;
  color: #585858;
  text-align: center;
  margin: 0 404px 52px 402px;
  padding-top: 89px;
  word-spacing: 2px;
}
.skills-wrapper {
  display: flex;
  flex-direction: column;
}
.skills-first {
  width: 55%;
  height: 175px;
  text-align: left;
  margin-left: 9%;
  margin-bottom: 80px;
  background: no-repeat url(img/img_skills1.svg);
  padding-left: 200px;
}
.skills-first__title{
  font: 600 30px/37px montserratsemibold, arial, helvetica, sans-seris;
  color: #585858;
  padding-right: 190px;
  margin: 0;
  margin-bottom: 10px;
}
.skills-first__description{
  font: 500 20px/24px montserratmedium, arial, helvetica, sans-seris;
  color: #585858;
  margin: 0;
  padding-right: 350px;
}
.skills-second {
  width: 53%;
  height: 175px;
  text-align: right;
  margin-left: 38%;
  margin-bottom: 80px;
  background: no-repeat url(img/img_skills2.svg);
  background-position: right;
}
.skills-second__title{
  font: 600 30px/37px montserratsemibold, arial, helvetica, sans-seris;
  color: #585858;
  padding-right: 204px;
  padding-top: 23px;
  margin: 0;
  margin-bottom: 8px;
}
.skills-second__description{
  font: 500 20px/24px montserratmedium, arial, helvetica, sans-seris;
  color: #585858;
   padding-right: 199px;
   padding-left: 100px;
   margin: 0;
}
.skills-third {
  width: 55%;
  height: 175px;
  text-align: left;
  margin-left: 9%;
  background: no-repeat url(img/img_skills3.svg);
  padding-left: 200px;
}
.skills-third__title{
  font: 600 30px/37px montserratsemibold, arial, helvetica, sans-seris;
  color: #585858;
  padding-top: 10px;
  padding-right: 200px;
  margin: 0;
  margin-bottom: 8px;
}
.skills-third__description{
  font: 500 20px/24px montserratmedium, arial, helvetica, sans-seris;
  color: #585858;
  margin: 0;
  padding-right: 310px;
}
.form-contact{
  background: rgba(51, 0, 153, 0.12);
  height: 858px;
  background-size: cover;
}
.form-contact__title {
  font: 900 30px/37px montserratextrabold, arial, helvetica, sans-seris;
  color: #585858;
  text-align: center;
  margin: 0 404px 35px 390px;
  padding-top: 60px;
  word-spacing: 2px;
}
.form-contact__image {
  width: 175px;
  height: 175px;
  background: no-repeat url(img/img_form.svg);
  margin: auto;
  position: relative;
  right: 10px;
}
.form-contact__description{
  font: 600 20px/24px montserratsemibold, arial, helvetica, sans-seris;
  color: #585858;
  text-align: center;
  padding: 50px 520px 36px 520px;
  margin: auto;
}
.form-add__namesurname{
  display:block;
  font: 600 15px/18px montserratsemibold, arial, helvetica, sans-seris;
  color: #858585;
  background: #FBFBFB;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid #E9E9E9;
  width: 296px;
  height: 65px;
  transition: 1s;
  display:flex;
  align-items: center;
  justify-content: center;
  margin:auto;
  margin-bottom: 21px;
}
.form-add__namesurname::placeholder{
 padding-left: 40px;
}
.form-add__tel{
  display:block;
  font: 600 15px/18px montserratsemibold, arial, helvetica, sans-seris;
  color: #858585;
  background: #FBFBFB;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid #E9E9E9;
  width: 296px;
  height: 65px;
  transition: 1s;
  display:flex;
  align-items: center;
  justify-content: center;
  margin:auto;
  margin-bottom: 21px;
}
.form-add__tel::placeholder{
 padding-left: 40px;
}
.form-add__mail{
  display:block;
  font: 600 15px/18px montserratsemibold, arial, helvetica, sans-seris;
  color: #858585;
  background: #FBFBFB;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid #E9E9E9;
  width: 296px;
  height: 65px;
  transition: 1s;
  display:flex;
  align-items: center;
  justify-content: center;
  margin:auto;
  margin-bottom: 36px;
}
.form-add__mail::placeholder{
 padding-left: 40px;
}
.form-add__send-form{
  font: 900 20px/24px montserratextrabold, arial, helvetica, sans-seris;
  color: #fff;
  background: #4AB272;
  padding: 23px 89px 23px 91px;
  text-decoration: none;
  border-radius: 50px;
  width: 300px;
  height: 70px;
  transition: 0.5s;
  display:flex;
  align-items: center;
  justify-content: center;
  margin:auto;
}
.form-add__send-form:hover{
  cursor: pointer;
  opacity: 1;
  color: #fff;
  width: 305px;
  height: 75px;
  box-shadow: 
    0px 0px 0px 2px #fff,
    0px 0px 0px 7px #fff,
    0px 0px 5px 9px #fff;
}
.footer{
  background: #330099;
  height: 322px;
}
.footer__title{
  font: 400 20px/23px robotoregular, arial, helvetica, sans-seris;
  color: #fff;
  text-align: center;
  margin: 0 400px 21px 400px;
  padding-top: 59px;
}
.social {
  display: flex;
  justify-content: space-between;
  margin: 0 400px 77px 400px;
}
.social__image-linkedin{
  width: 60px;
  height: 60px;
  background: no-repeat url(img/icon_linkedin.svg);
  position: relative;
  margin-left: 130px;
  transition: .5s;
}
.social__image-linkedin:hover{
  cursor: pointer;
  opacity: 0.5;
}
.social__image-instagram{
  width: 60px;
  height: 60px;
  background: no-repeat url(img/icon_instagram.svg);
  transition: .5s;
}
.social__image-instagram:hover{
  cursor: pointer;
  opacity: 0.5;
}
.social__image-facebook{
  width: 60px;
  height: 60px;
  background: no-repeat url(img/icon_facebook.svg);
  position:relative;
  padding-right:130px;
  transition: .5s;
}
.social__image-facebook:hover{
  cursor: pointer;
  opacity: 0.5;
}
.footer__sign{
  font: 400 20px/23px robotoregular, arial, helvetica, sans-seris;
  color: #fff;
  text-align: center;
  padding: 0 390px 0 390px;
  margin: 0;
}

#menu__toggle {
  opacity: 0;
}





@media(max-width: 1024px){
.menu__item{
display:block;
}


/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  position: fixed;
  top: 39px;
  right: 80px;
  width: 25px;
  height: 3px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 23px;
  height: 3px;
  background-color: #330099;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}
/* элементы меню */
.menu__item {
  display: block;
  margin-top: 42px;
  padding: 0 0 1px 5px;
  color: #585858;
  font-family: gilroy_extrabold, sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  opacity:1;
  color:#5193F4;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu {
  visibility: visible;
  left: 0;
  padding: 156px 16px 23px 10px;
}


}
